<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lession.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lession.description %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @lession.keywords %>
</p>

<p>
  <strong>Search field:</strong>
  <%= @lession.search_field %>
</p>

<%= link_to 'Edit', edit_lession_path(@lession) %> |
<%= link_to 'Back', lessions_path %>
